.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-container {
  background-color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.event-container:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.responsive-image1 {
  position: absolute;
  top: 28px;
  left: 40vh;
  max-width: 40%;
  height: auto;
  opacity: 0.9;
  padding-right: 0;
  border-radius: 1rem;
}
.responsive-image1:hover {
  opacity: 1;
}

.responsive-image2 {
  position: absolute;
  top: 25px;
  right: 20vh;
  max-width: 40%;
  height: auto;
  opacity: 0.75;

  border-radius: 1rem;
}
.responsive-image2:hover {
  opacity: 1;
}

.responsive-image3 {
  position: absolute;
  top: 430px;
  left: -90px;
  width: 50%;
  height: auto;
  opacity: 0.75;

  border-radius: 1rem;
}
.responsive-image3:hover {
  opacity: 1;
}

.responsive-image4 {
  position: absolute;
  top: 350px;
  right: 0px;
  width: 50%;
  max-width: 1000px;
  height: 65vh;
  opacity: 0.75;

  border-radius: 1rem;
}
.responsive-image4:hover {
  opacity: 1;
}

@media (max-width: 1095px) {
  .responsive-image1 {
    position: absolute;
    top: 28px;
    left: 15vh;
    max-width: 30%;
    height: auto;
    opacity: 0.9;
    padding-right: 0;
    border-radius: 1rem;
  }
}

@media (max-width: 1095px) {
  .responsive-image2 {
    position: absolute;
    top: 25px;
    right: 15vh;
    max-width: 40%;
    height: auto;
    opacity: 0.75;

    border-radius: 1rem;
  }
}

@media (max-width: 725px) {
  .responsive-image1 {
    position: absolute;
    top: 20vh;
    left: 5vh;
    max-width: 30%;
    height: auto;
    opacity: 0.9;
    padding-right: 0;
    border-radius: 1rem;
  }
}

@media (max-width: 725px) {
  .responsive-image2 {
    position: absolute;
    top: 15vh;
    right: 0vh;
    max-width: 40%;
    height: auto;
    opacity: 0.75;

    border-radius: 1rem;
  }
}
@media (max-width: 396px) {
  .responsive-image1 {
    position: absolute;
    top: 20vh;
    left: 5vh;
    max-width: 40%;
    height: auto;
    opacity: 0.9;
    padding-right: 0;
    border-radius: 1rem;
  }
}
@media (max-width: 396px) {
  .responsive-image2 {
    position: absolute;
    top: 25vh;
    right: 0vh;
    max-width: 45%;
    height: auto;
    opacity: 0.75;

    border-radius: 1rem;
  }
}

@media (max-width: 386px) {
  .responsive-image3 {
    position: absolute;
    top: 400px;
    left: 0px;
    width: 45%;
    height: auto;
    opacity: 0.75;

    border-radius: 1rem;
  }
}
@media (max-width: 386px) {
  .responsive-image4 {
    position: absolute;
    top: 350px;
    right: 0px;
    width: 50%;
    max-width: 990px;
    height: 40vh;
    opacity: 0.75;

    border-radius: 1rem;
  }
}
/* 
@media (max-width: 768px) {
  .responsive-image3 {
    bottom: 35vh;
    left: 1vh;
    right: 1vh;
    width: 95%;
    height: 30%;
    background-size: contain;
    opacity: 0.65;
  }
}

@media (max-width: 768px) {
  .responsive-image4 {
    top: 66vh;
    left: 1vh;
    right: 1vh;
    width: 95%;
    height: 32%;
    background-size: contain;
    opacity: 0.65;
  }
} */
