@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.Items {
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  .Button {
    background-image: url(../../../assets/Button.png);
    background-repeat: no-repeat;
  }
}


.nav a {
  padding: 0.5em 0.8em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 18px;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav a::before,
.nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: translate(100%, -100%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #fff;
  scale: 1.1;
}

.nav a {
    padding: .5em .8em;
    position: relative;
    text-decoration: none;
    font-size: 18px;
  }

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: translate(100%, -100%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #fff;
    scale: 1.1;
  }
a.current {
  color: #fff;
  scale: 1.1;
}