
.slick-slide > div
{
    margin: 0 10px;
}
.bg-container {
   
    background-color:black;
    padding:14px; 
    
  }
  .rectangle {
    left: 0rem; 
    bottom: 0rem; 
  }

  .blueBox {
    left:1.3rem;
    width: 3rem;
    height: 15rem;
  }
  .cardSize {
    height: 15rem;
  }
  .imgSize
  { left:1rem;
    width:100%;
    height:100%;
    bottom: 0px;

  }
  .card-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .card-hover:hover {
    transform: scale(1.1);
  }
  

  @media (min-width: 300px) and (max-width: 380px) {
    
    .blueBox
    {
        width: 3rem;
        height: 16rem;
    
  }
}
  @media (min-width: 380px) and (max-width: 460px) {
    
    .blueBox
    {
        width: 3.5rem;
        height: 18rem;
    
  }
  
  .imgSize
  {
    left:1rem;
    width:100%;
    height:100%;
  }
  .cardSize {
    height: 18rem;
  }
}
  